[submodule "6kconfig_demo"]
	path = 6kconfig_demo
	url = https://github.com/chasekan27/6kconfig_demo.git
[submodule "modules/say_hello"]
	path = modules/say_hello
	url = https://github.com/chasekan27/say_hello.git
